<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About Node JS</title>
    <style>
        body{
            color: aliceblue;
            background: gray;
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>
<body>
    <h1>Page about</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur soluta accusamus porro, maxime sint, eum aperiam quis laborum voluptas ratione doloribus fugiat corporis dolore, sunt consequuntur assumenda facilis! Veniam, harum.</p>
    <a href="/">Main page</a>
</body>
</html>